<% if(messages.error) { %>
    <div class="notice notice--warning fade in">
        <% for (var i=0; i< messages.error.length; i++) { %> 
            <p class="notice_title"><%= messages.error[i].msg %> </p>  
        <% } %> 
    </div>
<% } %>

<% if(messages.info) { %>
    <div class="notice notice--info fade in">
        <% for (var i=0; i< messages.info.length; i++) { %> 
            <p class="notice_title"><%= messages.info[i].msg %> </p>  
        <% } %> 
    </div>
<% } %>

<% if(messages.success) { %>
    <div class="notice notice--success fade in">
        <% for (var i=0; i< messages.info.length; i++) { %> 
            <p class="notice_title"><%= messages.info[i].msg %> </p>  
        <% } %> 
    </div>
<% } %>

