<header class="layout_nav">
    <div class="container">
    	<div class="clearfix">
	    	<div class="credentials">
	    		<% if(auth_user) { %>
		        	<a href="/<%= auth_user.username %>/"> 
			        	<img src="<%= auth_user.gravatar(32)%>">
		        	</a>
		        	<a href="/i/cart">
		        		Cart 
						<% if(auth_user.cart.length) { %>
		        			(<%= auth_user.cart.length %>)
		        		<% } %>
		        	</a>
		        	<a href="/i/post-card">Post Card</a>
		        	<a href="/i/signout">Sign out</a>
		        <% } 
		        else {  %>
		        	<a href="/i/signin">Sign In</a>
	    			<a href="/i/register">Register</a>
				<% } %>
	    	</div>
	        <a href="/">Cards</a> 
	        <a href="/i/u/">Users</a> 
	        <a href="/i/about">About</a> 
        </div>
    </div>
</header>

<div class="container">
	<% include flash %>
</div>