<% include ../partials/head %>

<body>
    <% include ../partials/global_nav %>
    
    <div class="container">
        <h1><%= page_title %></h1>
        
        <p>We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization.</p>

        <p>Thomson Reuters shares are listed on the Toronto and New York Stock Exchanges (symbol: TRI). </p>

    </div>

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>