<% include ../partials/head %>

<body>
    <% include ../partials/global_nav %>

    <div class="container">
        <div class="innerWrap">
            <h1><%= pageTitle %></h1>

            <% if(users.length == 0) { %>
            <div> Aint got nothing to show ya</div>
            <% } %>
            
            <ul>
    			<%	for (var i = 0; i < users.length; i++) {	%>
    				<li>
    					<a href="/<%= users[i].username %>/">
                            <%= users[i].usernameDisplay || users[i].username %> 
                        </a>
                        (<%= users[i]._id %>) <br><br>
    				</li>
    			<%	}	%>
    		</ul>
        </div>
    </div>

    <% include ../partials/footer %>

</body>
</html>
